.glass-button {
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
  padding: 0;
  margin: 0;
  display: table;
  border-radius: 23px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 12px -4px rgba(0, 0, 0, .1);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, .02) 100%) transparent;
}

.glass-button span {
  border-radius: inherit;
  overflow: hidden;
  width: 140px;
  display: block;
}

.glass-button span:first-child {
  position: relative;
  z-index: 3;
  /* padding: 12px 0; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-button span:nth-child(2) {
  position: absolute;
  inset: 0;
  mix-blend-mode: plus-lighter;
  clip-path: inset(1px);
  pointer-events: none;
}

.glass-button span:nth-child(2):before,
.glass-button span:nth-child(2):after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  border-radius: 50%;
}

.glass-button span:nth-child(2):before {
  width: 70%;
  height: 6px;
  bottom: -4px;
  opacity: 0.6;
  filter: blur(8px);
  animation: blur 4s linear infinite;
}

.glass-button span:nth-child(2):after {
  width: 70%;
  height: 2px;
  top: 0;
  opacity: 0.1;
  filter: blur(1.5px);
  animation: blurTop 4s linear infinite;
}

.glass-button .lines {
  position: absolute;
  inset: 0;

  pointer-events: none;
  z-index: 2;
  mix-blend-mode: plus-lighter;
}

.glass-button .lines>div {
  position: absolute;
  inset: -2px;
}

.glass-button .lines>div:first-child {
  -webkit-mask-image: radial-gradient(farthest-corner at right, black, transparent 75%);
  mask-image: radial-gradient(farthest-corner at right, black, transparent 75%);
}

.glass-button .lines>div:last-child {
  -webkit-mask-image: radial-gradient(farthest-corner at right, black, transparent 75%);
  mask-image: radial-gradient(farthest-corner at right, black, transparent 75%);
  transform: rotate(180deg);
}

.glass-button .lines>div svg {
  display: block;
  position: absolute;
  inset: 2px;
  overflow: visible;
  mix-blend-mode: overlay;
  fill: none;
  stroke-width: 0.75;
  stroke: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  stroke-dasharray: 2 10;
  stroke-dashoffset: 14;
  opacity: 0;
  animation: stroke 4s linear infinite;
}

@keyframes stroke {

  30%,
  70% {
    opacity: 0.6;
  }

  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

@keyframes blur {

  30%,
  70% {
    opacity: 1;
    filter: blur(10px);
  }

  100% {
    opacity: 0.6;
    filter: blur(8px);
  }
}

@keyframes blurTop {

  30%,
  70% {
    opacity: 0.35;
  }

  100% {
    opacity: 0.1;
  }
}